<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="alert alert-danger position-absolute top-0 start-0 w-100" role="alert">Usuário ou senha incorretos!</div>
    <% } %>
    <section class="section">
        <div class="container">
            <div class="content">
                <img class="bg" src="../public/img/bg.jpeg">
            </div>
            <div class="form">
                <h2 class="textLogin">Login</h2>
                <form method="post" id="loginForm">
                    <input type="text" name="username" placeholder="Usuário" required />
                    <input type="password" name="password" placeholder="Senha" required />
                    <button type="submit">Entrar</button>
                    <a class="redefinir" href="redefinirSenha.html">Esqueci minha senha</a>
                </form>
            </div>
        </div>
    </section>
    
    <!-- Adicione o Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>